.nav-wrapper{
    display: flex !important;
    justify-content: space-between!important;
    margin-top: 4px;
    padding: 10px;
    background-color: rgba(0,0,0,0.7);
}

.logomain{
    width: 300px;
}

.right{
    text-decoration: none;
    display: flex;
    color: #FFD700;
    /* justify-content: space-between; */
    width:200px
}

.auth{
    padding: 0px 20px;
    height:36px;
    background-color: transparent;
    border:1px solid #FFD700;
    border-radius: 16px;
    color:#FFD700;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;

}